body {
  background: pink;
  font-family: "Nunito", sans-serif; }
  body #main_navbar {
    font-size: 1.5rem;
    font-weight: 100; }
    body #main_navbar .navbar-brand {
      color: #ea1c2c; }
    body #main_navbar .nav-link {
      color: white; }
    body #main_navbar .nav-link:hover {
      color: #ea1c2c; }
